<% if (session.administrator) { %>
    <section class="toolbar">
    	<form method="POST" action="/entry/create">
            <input type="submit" value="Create New Entry"></span>
        </form>
      
    </section>
<% } %>
