<% if (session.errors && session.errors.length > 0) { %>
    <section class="error-box">
        <p class="error" display: inline-block><%= session.errors %></p>
    </section>
    <% session.errors = []; %>
<% } %>
