<section class="toolbar">
    <% if (session.authorized) { %>
        <p><%= session.login %></p>
        <form method="POST" action="/logout" style="display:inline">
            <span class="loginout"><input type="submit" value="Logout"></span>
            <br><hr>
        </form>
    <% } else { %>
        <a class="loingout" href="/login">Login</a>
        <hr>

    <% } %>
</section>
