<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaints.kg</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700|family=Cormorant+SC:300,400,500,600,700|Cormorant+Unicase:300,400,500,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<% include partials/header %>
<body onload="myFunction()">

    <div class="complaints_form">
        <h2>Создать жалобу</h2>
        <div class="container">
            <div class="image_block">
                <img src="/images/complaint_form_img.png" alt="Complaint form blank image">
            </div>
            <div class="content">
                <form method="POST" action="<%= entry && entry.id ? `/entry/${entry.id}/update` : '/entry/create' %>">
                    <div class="problem_type">
                        <p>Тип проблемы:</p>
                        <select name="problemType" id="#complaint_name">
                            <option selected disabled>Выберите тип проблемы</option>
                            <option value="Вода">Вода</option>
                            <option value="Мусор">Мусор</option>
                            <option value="Газ">Газ</option>
                            <option value="Свет">Свет</option>
                        </select>
                    </div>
                    <div class="problem_region">
                        <p>Местоположение проблемы:</p>
                        <select name="problemRegion" id="#complaint_region">
                            <option selected disabled>Выберите административное деление</option>
                            <option value="Первомайский">Первомайский район</option>
                            <option value="Свердловский">Свердловский район</option>
                            <option value="Октябрьский">Октябрьский район</option>
                            <option value="Ленинский">Ленинский район</option>
                        </select>
                    </div>
                    <div class="problem_address">
                        <p>Адрес:</p>
                        <textarea class="problem_address_name" name="location" id="" cols="30" rows="10" placeholder="Введите подробный адрес"></textarea>
                    </div>
                    <div class="problem_description">
                        <p>Опишите проблему:</p>
                        <textarea name="content" id="#problem_info" cols="30" rows="10"></textarea>
                    </div>
                    <div class="telephone_request">
                        <p>Введите свой номер телефона:</p>
                        <input class="telephone_number" name="phoneNumber" type="text">
                    </div>
                    <div class="upload_file">
                        <div class="custom-file-upload clearfix">
                           <p>Загрузите файл:</p>
                            <input class="myUpload" type="file" id="file" name="myfiles[]" multiple onchange="myFunction()"/>
                            <p id="demo"></p>
                            <img id="loadImage" name=""  src="">
                            <input id="imageLink" type="hidden" name="photo" value="nothing">
                            <a id="image" href=""></a>

                        </div>
                        <p class="tip">* Удерживайте клавишу Control или Shift для выбора нескольких файлов.</p>
                    </div>
                    <button class="btn send_complaint_btn">Создать жалобу</button>
                </form>
            </div>
        </div>
    </div>
    <div class="complaints_list">
        <h2>Список жалоб</h2>
        <div class="container">
            <p class="sort">Критерий сортировки:</p>
            <div class="filter_block">
                <select name="date" id="filter_by_date">
                    <option selected disabled>Дата</option>
                    <option value="today">За сегодня</option>
                    <option value="last 2 days">За прошедшие 2 дня</option>
                    <option value="last week">За прошедшую неделю</option>
                </select>
                <select name="region" id="filter_by_region">
                    <option  selected disabled>Район</option>
                    <option value="Pervomayskiy">Первомайский</option>
                    <option value="Oktyabrskiy">Октябрьский</option>
                    <option value="Sverdlovskiy">Свердловский</option>
                    <option value="Leninskiy">Ленинский</option>
                </select>
                <select name="type" id="filter_by_type">
                    <option selected disabled>Тип проблемы</option>
                    <option value="water">Вода</option>
                    <option value="gas">Газ</option>
                    <option value="light">Свет</option>
                    <option value="garbage">Мусор</option>
                </select>
                <select name="status" id="filter_by_status">
                    <option selected disabled>Статус решения</option>
                    <option value="resolved">Решенные</option>
                    <option value="unresolved">Нерешённые</option>
                </select>
            </div>
        </div>
    </div>
    <script src="vendor/jquery/jquery-1.12.4.min.js"></script>
    <script src="/js/core.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.15/autosize.min.js'></script>
</body>
</html>
