<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <main>
            <% include partials/header %>
            <div class="center">
            <article>
                <p><%= entry.Content %></p>
                <hr>
            </article>
            <% include partials/comment-form %>
            <% include partials/comments %>
            </div>
            <% include partials/footer %>
        </main>
    </body>
</html>

