<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <main>
            <% include partials/header %>
            <% include partials/user-toolbar %>
            <% include partials/error-box %>
            <% if (!comment) { %>
                <% include partials/entry-form %>
            <% } else { %>
                <% include partials/comment-form %>
            <% } %>
            <% include partials/footer %>
        </main>
    </body>
</html>

