<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
    <body>
        <main>
            <% include partials/head %>
            <article>
                <ul>
                    <% for (let [id, entry] of Object.entries(entries)) { %>
                        <li>
                            <a href='/entry/<%= entry.id %>'><%= entry.Problem_Type %></a>
                            <p><%= entry.Content %></p>
                            <span class="lastupdate"><%= entry.updatedAt %></span>
                    <% } %>
                </ul>
            </article>
            <% include partials/entries-toolbar %>
            <% include partials/footer %>
        </main>
    </body>
</html>

