<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Uberi</title>
	<link rel="shortcut icon" sizes="16x16 24x24 32x32 36x36 48x48 57x57 60x60 64x64 70x70 72x72 76x76 96x96 114x114 120x120 144x144 150x150 152x152 180x180 192x192 310x150 310x310" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700|family=Cormorant+SC:300,400,500,600,700|Cormorant+Unicase:300,400,500,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
</head>
	<header>
		<div class="menu_list">
			<ul>
				<li><a href="main" class="active"><i class="fa fa-home" aria-hidden="true"></i><span>Главная</span></a></li>
				<li><a href="entries"><i class="fa fa-tasks" aria-hidden="true"></i><span>Проблемы</span></a></li>
				<li><a href="entry/create"><i class="fa fa-paper-plane-o" aria-hidden="true"></i><span>Форма</span></a></li>
				<li><a href="problemsCritical"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span>Критические</span></a></li>
				<li><a href="login"><i class="fa fa-user" aria-hidden="true"></i><span>Админ</span></a>
			</ul>
		</div>
	</header>
	<div class="home_page main_content">
		<div class="container">
			<h1><a href="main"><img src="upload/ic_Uberi.png" alt="Logo image"></a></h1>
			<h2>Категории проблем</h2>
			<div class="problems_categories">
				<div class="cols clearfix">
					<div class="col">
						<form action="entry/create" method="GET">
						    <button>
							<div class="image">
								<img src="upload/Asset 1.png" alt="Garbage category image">
							</div>
							<h3>Переработка отходов</h3>
							<input type="hidden" name="organ" value="SanEco">	
							</button>
						</form>
					</div>
					<div class="col">
						<form action="entry/create" method="GET">
						    <button>
							<div class="image">
								<img src="upload/Asset 2.png" alt="Garbage category image">
							</div>
							<h3>Электроснабжение</h3>
							<input type="hidden" name="organ" value="SevElektro">
							</button>
						</form>

					</div>
					<div class="col">
						<form action="entry/create" method="GET">
					    <button>
					    	<div class="image">
							<img src="upload/Asset 3.png" alt="Garbage category image">
							</div>
							<h3>Водоснабжение</h3>
							<input type="hidden" name="organ" value="ProizEksp">

							</button>
						</form>					
						</div>
					<div class="col">
						<form action="entry/create" method="GET">
											    <button>
							<div class="image">
								<img src="upload/Asset 4.png" alt="Garbage category image">
							</div>
							<h3>Загрязнение атмосферы</h3>
							<input type="hidden" name="organ" value="Tazalyk">
								</button>
							</form>
					</div>
					<div class="col">
						<form action="entry/create" method="GET">
											    <button>
							<div class="image">
								<img src="upload/Asset 5.png" alt="Garbage category image">
							</div>
							<h3>Уничтожение видов растений</h3>
							<input type="hidden" name="organ" value="Zelen">
								</button>
							</form>
					</div>
					<div class="col">
						<form action="entry/create" method="GET">
											    <button>
							<div class="image">
								<img src="upload/Asset 6.png" alt="Garbage category image">
							</div>
							<h3>Стихийные природные явления</h3>
							<input type="hidden" name="organ" value="GosSanitEpid">

							</button>
						</form>
					</div>
						<div class="col">
						<form action="entry/create" method="GET">
											    <button>
							<div class="image">
								<img src="upload/Asset 7.png" alt="Garbage category image">
							</div>
							<h3>Дорожные происшествия</h3>
							<input type="hidden" name="organ" value="UprGor">
								</button>
							</form>
					</div>
				</div>
			</div>
			<footer>
				<p>Made with care by Random 5</p>
			</footer>
		</div>
	</div>
	<script src="vendor/jquery/jquery-1.12.4.min.js"></script>
	<script src="js/core.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.15/autosize.min.js'></script>
</body>
</html>