body {
    font: 16px arial, sans-serif;
    background-color:  #fff;
}

.toolbar input[type="submit"] {
    background: none!important;
    color: blue;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
}
a {
    text-decoration: unset;
}
.error {
    padding: 1em;
    border: 0.1em dashed red;
    background-color: hsl(100, 100%, 90%);
}

.comment > .login {
    font-weight: bold;
}
span.lastupdate {
    font-weight: normal;
    float: right;
    font-size: 0.7em;
}
p.error {
    color: red;
    background-color: cyan;
    border: 0;
}
footer {
    float: right;
}
.loginout {
    float: right;
    font-size: 1.2em;
}